#box{
	/*background: darkgray;*/
	margin-top: 50px;

}
.box {
	height: 200px;
	width: 200px;
	display: inline;
	padding: 20px;
	margin: 10px;
}

 button#all, #mobile, #web, #tab {
	padding: 20px;

}

div .Web {
	background: silver;

}
div	.mobile {
	background: pink;
}

div .tab {
	background: brown;
}

#all {
	margin-left: 550px;
}


#cmt_box p {
	background: #f1f1f1;
}

#p_section  p{
	width: 30%;
	display: inline-table;
	padding-left: 20px;
	min-height: 400px;
}